@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}


.control-btn{
  margin-right: 1ex;
  margin-bottom: 1ex;
  background-color: white;
  border: none;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 5px;
  cursor: pointer;
  border-radius: 12px;
}

.control-btn-green{
  margin-right: 1ex;
  margin-bottom: 1ex;
  background-color: #04AA6D;
  border: none;
  padding: 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 5px;
  cursor: pointer;
  border-radius: 12px;
  
}

.control-btn-red{
  margin-right: 1ex;
  margin-bottom: 1ex;
  background-color: #eb3d34;
  border: none;
  padding: 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 5px;
  cursor: pointer;
  border-radius: 12px;
}

.control-heading{
  text-align: center;
  font-size: 25px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 2rem;
  }
}
